<div class="container-md">
    <div class="card border-0">
        <div class="card-body">
            <h4 class="card-title">Privacy Policy of <strong class="text-uppercase">Amarcode</strong></h4>
            <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vero distinctio quos
                asperiores, voluptatum fugiat tempore. Deleniti maxime fugit quaerat? Corrupti, ad! Dignissimos est minus dicta
                quidem praesentium, nisi maxime quaerat ad quas ex quibusdam recusandae odio, dolores quos mollitia reiciendis.
                Veniam voluptatum pariatur delectus ex distinctio dolorem sapiente aut.</p>
            <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vero distinctio quos
                asperiores, voluptatum fugiat tempore. Deleniti maxime fugit quaerat? Corrupti, ad! Dignissimos est minus dicta
                quidem praesentium, nisi maxime quaerat ad quas ex quibusdam recusandae odio, dolores quos mollitia reiciendis.
                Veniam voluptatum pariatur delectus ex distinctio dolorem sapiente aut.</p>
            <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vero distinctio quos
                asperiores, voluptatum fugiat tempore. Deleniti maxime fugit quaerat? Corrupti, ad! Dignissimos est minus dicta
                quidem praesentium, nisi maxime quaerat ad quas ex quibusdam recusandae odio, dolores quos mollitia reiciendis.
                Veniam voluptatum pariatur delectus ex distinctio dolorem sapiente aut.</p>
            <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vero distinctio quos
                asperiores, voluptatum fugiat tempore. Deleniti maxime fugit quaerat? Corrupti, ad! Dignissimos est minus dicta
                quidem praesentium, nisi maxime quaerat ad quas ex quibusdam recusandae odio, dolores quos mollitia reiciendis.
                Veniam voluptatum pariatur delectus ex distinctio dolorem sapiente aut.</p>
            <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vero distinctio quos
                asperiores, voluptatum fugiat tempore. Deleniti maxime fugit quaerat? Corrupti, ad! Dignissimos est minus dicta
                quidem praesentium, nisi maxime quaerat ad quas ex quibusdam recusandae odio, dolores quos mollitia reiciendis.
                Veniam voluptatum pariatur delectus ex distinctio dolorem sapiente aut.</p>
        </div>
        <div class="card-text text-muted text-right">
            <p>Last updated on March 1, 2021</p>
        </div>
    </div>
</div>