<section>
    <div class="container-md">
        <div class="row justify-content-center p-3">
            <div class="col-12 col-sm-9 col-lg-6">
                <form class="border rounded shadow p-5 bg-white">
                    <p class="h6 text-center">RESET PASSWORD</p>
                    <p class="text-center">Please enter your email address. We will send you an email to reset your password.</p>
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Enter email here" required>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">SEND EMAIL</button>
                  </form>
            </div>
        </div>
    </div>
</section>