<body class="container-fluid">
    <div class="container-md text-white text-justify py-3">
        <p class="h3 my-3">Contact Us</p>
        <div class="row">
            <!-- my-auto: to center vertically -->
            <div class="col-md-5">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis debitis ducimus ut voluptate, non iure harum cum
                    commodi repudiandae obcaecati deserunt aliquid odio rerum, numquam iusto earum corrupti voluptates quia suscipit
                    animi laborum assumenda voluptatibus pariatur repellendus. Voluptatem ratione quisquam culpa aut architecto iusto
                    eligendi voluptates. Animi pariatur quis maiores.</p>
                <ul class="list-unstyled">
                    <li><span class="material-icons p-3">location_on</span>
                        7400 Augusta St. River Forest, IL 60305
                    </li>
                    <li><span class="material-icons p-3">alternate_email</span>
                        contact@amarcode.com
                    </li>
                    <li><span class="material-icons p-3">contact_phone</span>
                        (708) 771-8300
                    </li>
                </ul>
            </div>
            <div class="col-md-7 bg-white p-3 rounded">
                <p class="h5 text-dark my-3">Feedback Form</p>
                <form>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group valign">
                        <button type="button" class="btn btn-block btn-light"><i class="material-icons px-3">cloud_upload</i>Upload a File</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-block btn-dark">Send a Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
