<div class="container-md">
    <div class="card border-0">
        <div class="card-body">
            <h4 class="card-title">About <strong class="text-uppercase">Amarcode</strong></h4>
            <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores mollitia aspernatur tempore
            dolores error harum expedita, sequi veritatis fugit deleniti, soluta quas distinctio sit tenetur, commodi eveniet
            recusandae beatae maiores suscipit fugiat. Amet qui voluptatibus sapiente voluptas nisi laborum. Odit facere
            distinctio doloremque laboriosam asperiores architecto. Labore obcaecati dicta minima.</p>
            <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores mollitia aspernatur tempore
            dolores error harum expedita, sequi veritatis fugit deleniti, soluta quas distinctio sit tenetur, commodi eveniet
            recusandae beatae maiores suscipit fugiat. Amet qui voluptatibus sapiente voluptas nisi laborum. Odit facere
            distinctio doloremque laboriosam asperiores architecto. Labore obcaecati dicta minima.</p>
        </div>
    </div>

    <h4 class="p-3">About the <strong class="text-uppercase">Creator</strong></h4>
    <div class="card p-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../../../assets/images/author-photo-amarcode.jpg" class="card-img" alt="author-photo">
            <div class="text-center p-3">
                <ul class="list-inline">
                    <li class="list-inline-item"><a><i class="fab fa-facebook fa-lg" style="color: black"></i></a></li>
                    <li class="list-inline-item"><a><i class="fab fa-linkedin fa-lg" style="color: black"></i></a></li>
                    <li class="list-inline-item"><a><i class="fab fa-twitter fa-lg" style="color: black"></i></a></li>
                </ul>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title"><strong class="text-uppercase">Javkhlan Tsogtsaikhan</strong></h4>
                <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas qui aliquam, iure totam alias ipsa.
                Fugiat eveniet numquam quos quasi deleniti repellendus nisi saepe, ea ad, cum maxime consectetur neque ullam sed
                blanditiis corrupti quisquam aperiam. Optio, iste repudiandae modi sed ex placeat deleniti, magnam, tempore mollitia
                quod dolore voluptatem.</p>
                <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas qui aliquam, iure totam alias ipsa.
                Fugiat eveniet numquam quos quasi deleniti repellendus nisi saepe, ea ad, cum maxime consectetur neque ullam sed
                blanditiis corrupti quisquam aperiam. Optio, iste repudiandae modi sed ex placeat deleniti, magnam, tempore mollitia
                quod dolore voluptatem.</p>
            </div>
          </div>
        </div>
      </div>
</div>
